@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700;900&display=swap');

body{
    background-color: black !important;
    font-family: 'Raleway', sans-serif !important;
}

.col-3{
    background-size: cover;
    background-position: center;
    border-radius: 12px 12px 12px 12px;
    height: 500px;
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

a.nav-link{
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 0.8em !important;
    padding-left: 3em !important;
}

.bg-img{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background:rgba(0,0,0,0.6);

    background-image: url("../img/nav-background/banner-movie-3.png");

    height: 500px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
}

.movie{
margin-top: -20em;
}


.movie-tittle{
    padding-top: 1em;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
}

.movie-info{
    font-weight: 300;
    color: orange;
    font-size: 1em;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 0;
    margin-top: 0;
    letter-spacing: 0.05em;
}

.movie-total{
    padding-left: 2em;
}

.icon {
    height: 50px;
    width: 50px;
    display: block;
    padding-top: 1em;
    
    /* Other styles here */
}

p{
    color: white;
}

h3{
    text-align: center;
    font-weight: 700 !important;
    color: orange;
}
.synopsis{
    line-height: 2em;
    padding-bottom: 4em;
    padding-left: 4em;
    padding-right: 2em;
    text-align: justify !important;
}

.sub{
    color:white !important;
    font-weight: 700;
    text-align: center;
}

.click{
    color: #007bff !important;
}

.sub-1{
    border-radius: 12px 12px 12px;
    background-color: #141414;
    padding: 2em 2em 2em 2em;
    margin-bottom: 2em;
}

.syp{
    text-align: left !important;
    font-size: 2em;
    font-weight: 600;
}

.fix-row{
    padding-top: 3em; 
}

ul.cast{
    list-style-type: none;
    color: white;   
    line-height: 2em;
    padding-left: 0 !important;
}

.circle-img img{
    width: 60px !important;
    border-radius: 50% !important;
    margin-right: 1em;
    margin-bottom: 1em;
}

div.col-sm-6.col-md-4.col-lg-4.item{
    padding-bottom: 1em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5 !important;
}
