@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.bg-dark{
    background-color: none !important;
}
.carousel-item{
    background-position:center;
    background-size:cover !important;
    height: 32rem;
}

.container-marketing{
    align-items: center;
    text-align: center !important;
    padding: 2% 4% 4% 4%;
}

.promociones{
    font-family: Raleway;
    text-align: center;
}

.btn-dark{
    background-color: white !important;
    color: black !important;
}

.cartelera-semanal{
    font-family: Raleway;
    padding-left: 3%;
    padding-bottom: 3%;
    color: white;
    font-size: 3em !important;
}

.col-3{
    background-size: cover;
    background-position: center;
    border-radius: 12px 12px 12px 12px;
    box-shadow:-1px 0px 9px 3px;
    transition: all .2s ease-in-out !important; 
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.col-3:hover{
    transform: scale(1.1) !important; 
}

.container-back{
    padding-top: 4% !important;
    padding-bottom: 4% !important;
    background-color: #0070ff;
    margin-left: 0px !important;
    margin-right: 0px !important;
}


a.nav-link{
    font-family: Raleway;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 0.8em !important;
    padding-left: 3em !important;
}

.bg-img{
    background-color: #0070ff;

    height: 300px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
}
