@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;900&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: #e5e5e5 !important;
    font-family:'Raleway' !important ;
}

@media (max-width: 991.98px) {
    nav{
        background-color: white !important;
    }
    button.navbar-toggler{
        background-color: #0070ff !important;
        border: 1px black !important;
    }
    span.navbar-toggler-icon{
        color: black !important;
    }
}


.container-marketing{
    align-items: center;
    text-align: center !important;
    padding: 2% 4% 4% 4%;
}

.promociones{
    font-weight: 900;
    text-align: center;
}


.cartelera-semanal{
    font-weight: 900;
    padding-left: 3%;
    padding-bottom: 3%;
    color: white;
    font-size: 3em !important;
    
}

.col-3{
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 12px 12px 12px 12px;
    max-width: 13% !important;
    max-height: 4% !important;
    box-shadow:-1px 0px 9px 3px;
    transition: all .2s ease-in-out !important; 
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.col-3:hover{
    transform: scale(1.1) !important; 
}

.container-back{
    padding-top: 4% !important;
    padding-bottom: 4% !important;
    background-color: #0070ff;
    margin-left: 0px !important;
    margin-right: 0px !important;
}


a.nav-link{
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 0.8em !important;
    padding-left: 3em !important;
    color: white !important;
}


a.nav-link:hover{
    color: #e0981a !important;
    transition: .5s;
}


.bg-img{
    background-image: url("../img/nav-background/nav.png");

    height: 800px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
}

.CINE-P{
    margin-top: 2em;
    font-weight: 900;
    font-size: 7em;
    text-shadow: 1px 2px 6px black;
    color: #e0981a;
    margin-bottom: 0 !important;
    text-align: center;
}

.CINE-T{
    font-size: 6em;
    letter-spacing: .7em;
    margin-top: -.65em;
    color: white;
    text-shadow: 1px 2px 6px black;
    font-weight: 300;
    text-align: center;
    padding-left: 1em;
}

.cartelera-img{
    padding-top: 7em;
    height: 100% !important;
    width: 86% !important;
}

.prom{
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 100%;
    max-height: 100%;
}